[submodule "pure"]
	path = pure
	url = https://github.com/sindresorhus/pure
[submodule "z"]
	path = z
	url = git@github.com:rupa/z.git
[submodule "Tim"]
	path = Tim
	url = https://github.com/ggustafsson/Tim
[submodule "nofrils"]
	path = nofrils
	url = git@github.com:robertmeta/nofrils.git
