.tabbrowser-tab { text-shadow: none !important; }
#titlebar { box-shadow: none !important;}
.tabbrowser-tabs, .tabbrowser-tab {
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -moz-border-radius: 1px 1px 4px 4px !important;
}
tab[selected="true"] { min-width: 150px !important; }